body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.advice{
    background-color: chartreuse;
}

div button{
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    border: 1px solid black;
}



div button:hover{
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    border: 1px solid black;
}

